@import "/css/colors.css";

/* ---------------------- BUTTONS ---------------------- */

/* BTN NAV */

.btn-hamb {
    display: none;
}


nav > button, 
nav > div > button {
    /* margin-bottom: auto; */
    top: 0;
}

.btn-nav-out {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-decoration: none;

  margin: 4px auto;
  padding: 16px 32px;
  
  cursor: pointer;
  border-radius: 0px;

  color: var(--gray-dark-color);
  border: none;
  background-color: transparent;
  /* box-shadow: 2px 2px 4px var(--black-color); */

  transition: all 0.3s ease 0s;
  }
  
.btn-nav-out:hover {
color: var(--black-color);
/* background-color: var(--pink-light-color); */
border: 1px solid var(--black-color);
box-shadow: 0px 15px 20px var(--black-transparent-middle-color);
transform: translateY(7px);
}

.btn-nav-out:active {
color: var(--gray-dark-color);
background-color: var(--pink-strong-color);
border-color: var(--gray-dark-color);
}

.btn-nav-out > a {
  color: var(--gray-dark-color);
}

/* BTN OUT */
.btn-out {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  margin: 4px 2px;
  padding: 16px 32px;
  border-radius: 0px;
  cursor: pointer;
  color: var(--gray-dark-color);
  border-color: var(--gray-dark-color);
  background-color: var(--white-color);
  transition: all 0.3s ease 0s;
}
  
.btn-out:hover, 
.btn-out-micro:hover,
.btn-out-micro-alone:hover {
color: var(--white-color);
background-color: var(--gray-dark-color);
border-color: var(--gray-dark-color);
box-shadow: 0px 15px 20px var(--black-transparent-middle-color);
transform: translateY(7px);
}

.btn-out:focus, 
.btn-out-micro:focus {
box-shadow: 0 0 0 0.25rem var(--black-transparent-middle-color);
}

.btn-out:active, 
.btn-out-micro:active {
color: var(--white-color);
background-color: var(--gray-dark-color);
border-color: var(--gray-dark-color);
}

/* BTN GEEN & RED */
.btn-green {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  margin: 4px 2px;
  padding: 16px 32px;
  border-radius: 0px;
  cursor: pointer;
  color: var(--green-middle-color);
  border-color: var(--green-middle-color);
  background-color: var(--white-color);
  transition: all 0.3s ease 0s;
}

.btn-green:hover, 
.btn-green-micro:hover,
.btn-green-micro-alone:hover {
color: var(--white-color);
background-color: var(--green-middle-color);
transform: translateY(7px);
box-shadow: 0px 15px 20px var(--gray-middle-color);
}

.btn-red {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  margin: 4px 2px;
  padding: 16px 32px;
  border-radius: 0px;
  cursor: pointer;
  color: var(--red-middle-color);
  border-color: var(--red-middle-color);
  background-color: var(--white-color);
  transition: all 0.3s ease 0s;
}

.btn-red:hover, 
.btn-red-micro:hover,
.btn-red-micro-alone:hover {
color: var(--white-color);
background-color: var(--red-middle-color);
box-shadow: 0px 15px 20px var(--red-middle-transparent-color);
transform: translateY(7px);
}


/* BTN !MICRO */
/* OUT GREEN RED GOLD */

.btn-out-micro {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 2px 1px;
  padding: 4px;
  border-radius: 0px;
  cursor: pointer;
  color: var(--gray-dark-color);
  border-color: var(--gray-dark-color);
  background-color: var(--white-color);
  transition: all 0.3s ease 0s;
}

.btn-green-micro {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 2px 1px;
  padding: 4px;
  border-radius: 0px;
  cursor: pointer;
  color: var(--green-middle-color);
  border-color: var(--green-middle-color);
  background-color: var(--white-color);
  transition: all 0.3s ease 0s;
}

.btn-red-micro {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 2px 1px;
  padding: 4px;
  border-radius: 0px;
  cursor: pointer;
  color: var(--red-middle-color);
  border-color: var(--red-middle-color);
  background-color: var(--white-color);
  transition: all 0.3s ease 0s;
}

/* BTN MICRO !ALONE */
/* OUT GREEN RED GOLD */
  
.btn-out-micro-alone {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 2px 1px;
  padding: 4px;
  border-radius: 0px;
  cursor: pointer;
  color: var(--gray-dark-color);
  border-color: transparent;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.btn-green-micro-alone {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 2px 1px;
  padding: 4px;
  border-radius: 0px;
  cursor: pointer;
  color: var(--green-middle-color);
  border-color: transparent;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.btn-red-micro-alone {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 2px 1px;
  padding: 4px;
  border-radius: 0px;
  cursor: pointer;
  color: var(--red-middle-color);
  border-color: transparent;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

  
.btn-gold-micro-alone {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 2px 1px;
  padding: 4px;
  border-radius: 0px;
  cursor: pointer;
  color: var(--yellow-strong-color);
  border-color: transparent;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.btn-gold-micro-alone:hover {
  color: var(--white-color);
  background-color: var(--yellow-strong-color);
  box-shadow: 0px 15px 20px var(--yellow-dark-color);
  transform: translateY(7px);
}
