/* ---------------------- GENERAL ---------------------- */
/*
html, body{
    height: 100%;
}
*/

@page {
    size: A4;
}

table, figure {
    page-break-inside: avoid;
}

.central-area-card{
    margin: 10% auto;
}

/* ---------------------- FONTS ---------------------- */

#printable-sidebar p,
#printable-sidebar a{
    color: var(--white-color);
    font-weight: 400;
}

.item-primary{
    font-weight: 600;
}

.item-sencondary{
    font-weight: 600;
    color: var(--gray-middle-color);
}

h1, h2, h3, h4 {font-size: 1.5em;}
h5, h6 {font-size: 1.3em;}
p, li, td, blockquote, .special, a {font-size: 1em;}
.small {font-size: 0.7em;}

.central-area-hint-text{font-size: 10pt;}

/* ---------------------- SIDEBAR ---------------------- */

#printable-sidebar{
    background-color: var( --gray-middle-color);

    display: inline-block;
    width: 25%;
    height: 100%;
    padding: 2%;
}

.profile-pic{
    max-width: 100%;
    border-radius: 50%;
}

#printable-sidebar div{
    margin: 5% auto;
}

/* ---------------------- CENTRAL AREA ---------------------- */

#printable-central-area{
    display: inline-block;
    margin: 0 auto;
    padding: 0 5%;
    width: 75%;
    height: 100%;
    float: right;
}

/* -- Progress Bar -- */
#skills-list{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.list-item{
    margin: 0 5%;
}

.progressbar {
    background-color: var(--gray-middle-color);
    border-radius: 0.5em;
    padding: 0.6%;
    width: 100%;
    margin: 0 auto;
} 
.progressbar > div {
    background-color: var(--pink-middle-color); /* pink */
    height: 1em;
    border-radius: 0.4em;
} 

.skills-text{
    font-family: Arial, sain serif;
    font-weight: bold;
    font-size: 0.7em;  
    margin:1%;
}
