/* ====================== SMALL DEVICES ====================== */

@media only screen and (max-width: 900px) {
    body{
      width: 100%;
      height: 100%;
    }
    
    /* ---------------------- GRID PROYECTOS ---------------------- */

    /* posts en grid */
    .vr-card-group {
        grid-template-columns: auto auto;
    }
  
    /* ---------------------- NAVIGATION ---------------------- */
    nav {
        display: inline-grid;
    }
  
    #navbar > .all-form {
        max-width: 250px;
        left: 17%;
        top: 30%;
        position: absolute;
        background-color: #fff;
        z-index: 20;
      }

    #hamburger-menu-icon{
        display: flex;
        margin-top: 0;
    }
  
    /* .btn-hamb {
            display: inline-grid;
        } */
  
    .btn-nav-out{
      width: 100%;
    }
  
    /* todo el div donde se encuentra todo el menu */
    #menu-list {
        /* display: list-item; */
        display: none;
    }

    #menu-list > button, 
    #menu-list > div {
      display: block;
    }
  
    /* el div que contiene el dropdown de proyectos */
    #menu-projects-list > li{
      display: block;
      color: gray;
      text-align: center;
    }

    #menu-projects-list {
        background-color: #eaeaea;
    }

    /* ---------------------- PROYECTOS ---------------------- */

    #proyectos {
        margin-top: 30%;
        height: 50vh;
    }

    .proyectos-i {
        font-size: 20vw;
        margin: 6vw;
    }
  
    /* ---------------------- ABOUT ---------------------- */
  
    .longText {
      padding: 10%;
    }
  
    #timeline > .card-content {
      margin: 15% 10% 15% 0;
    }
  
    /* ---------------------- CONTACT ---------------------- */
    .contacto-form {
      margin: 5%;
  }
  
    /* ---------------------- CONTACT ---------------------- */
    footer > ul {
        padding-left: 0;
    }

    /* ---------------------- BUTTONS ---------------------- */
  
    .btn-red, 
    .btn-green{
      padding: 8px 16px;
    }
  
  }
  
  
  @media only screen and (max-width: 600px){
      /* posts en grid */
      .vr-card-group {
          grid-template-columns: auto;
      }
  
      nav {
          float: none;
      }
  }
  