/* ====================== SMALL DEVICES ====================== */

@media only screen and (max-width: 900px) {
  body{
    width: 100%;
    height: 100%;
  }

  h1, h2, h3, h4 {
    font-size: 2.5rem;
  }
    
  /* ---------------------- GRID PROYECTOS ---------------------- */

  /* posts en grid */
  .vr-card-group {
    grid-template-columns: auto auto;
  }

  /* ---------------------- NAVIGATION ---------------------- */
  .nav {
    display: flex;
    position: fixed;
    background-color: #fff;
  }

  #navbar > .all-form {
    max-width: 250px;
    top: 7.7%;
    left: 10%;
    position: fixed;
    background-color: #fff;
    z-index: 20;
  }

  #hamburger-menu-icon{
    display: none;
    margin-top: 0;
  }

  .btn-nav-out{
    padding: 3vw;
    margin: 0;
    transition: none;
    top: 0;
  }

  .btn-nav-out:active, 
  .btn-nav-out:hover {
    background-color: transparent;
    box-shadow: transparent;
    transition: none;
    box-shadow: none;
    top: 0;
  }

  .btn-nav-out:active{
    color: #d93b95;
  }

  .btn-nav-out:hover{
    color: gray;
  }
      
  /* el div que contiene el dropdown de proyectos */
  #menu-projects-list > .btn-nav-out {
    display: block;
    color: gray;
    text-align: center;
  }

  #menu-projects-list {
    background-color: #eaeaea;
  }

  /* ---------------------- ABOUT: SHORT ---------------------- */

  .section-title{
    margin: 20% auto 5% auto;
  }

  .short-about{
    margin: 0 10% 3%;
  }

  /* ---------------------- ABOUT: SKILLS ---------------------- */

  #about-skills{
    height: 160vw; 
  }

  .grid-container {
    margin: 10% 10%;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    column-gap: 10vw;
    row-gap: 30vw;
  }

  .progress-title-container{
    height: 18vw;
    width: 18vw;
    top: 0.8vw;
    left: 0.8vw;  
  }

  .progress-bottom-circle {
    height: 20vw;
    width: 20vw;
  }

  .item-icon-grid {
    font-size: 12vw;
  } 

  /* ---------------------- TIMELINE ---------------------- */

  /* TIMELINE SHORT */
  #short-timeline > ul {
    margin: 0;
  }

  .short-timeline-item {
    margin: 3vw 0;
  }

  .btn-short-timeline {
    padding: 24px 50px;
    margin: 0 30%;
  }

  /* TIMELINE CARDS */

  .timeline-title{
    margin-left: 16%;
  }

  .timeline-title::marker{
    font-size: 200%;
  }
  
  .card-content {
    margin: 5%;
  }

  .timeline-micro-element {
    margin: 5% auto;
  }

  .timeline-instit > a {
    font-size: 0.9rem;
  }

  /* ---------------------- PROYECTOS ---------------------- */

  #proyectos {
    height: 46vh;
  }

  .proyectos-table{
    display: inline-flex;
    grid-template-columns: repeat(4, 13vw);
    column-gap: 2vw;
    margin: 8%;
  }

  .proyectos-i {
    position: relative;
    font-size: 13vw;
  }
  
  /* ---------------------- FOOTER ---------------------- */
  
  #footer{
    display: grid;
  }

  #footer > ul {
      padding-left: 0;
  }

  .footer-title{
    margin: 10px;
  }

  .footer-icon{
    font-size: 1.5rem;
  }

  .content-waves{
    height: 25vh;
  }

}
  
  
@media only screen and (max-width: 600px){
  /* about: skills */

  .progress-circle {
    margin: 1rem;
    width: 90px;
    height: 90px;
  }

  .progress-circle span {
    font-size: 3rem;
    padding-top: 1rem;
    padding-left: 1.3rem;
    left: 6%;
    top: 6%;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

  .progress-icon > .span > .icon{
    display: block;
    margin-top: 0.3rem;
  }

  /* posts en grid */
  .vr-card-group {
    grid-template-columns: auto;
  }

  nav {
    float: none;
  }
}
  