/* ---------------------- COLORES ---------------------- */
@import "/css/colors.css";

/* ---------------------- SELECCIONES ---------------------- */

*::selection {
    background-color: var(--blue-middle-color);
    }

html, body{
  height: 100%;
}

.all-background {
  background: var(--white-color);
  
  overflow: scroll;
  
  z-index: -50;
  height: 100%;
}

/* ---------------------- ICONOS ---------------------- */

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


/* ---------------------- INABILITADO ---------------------- */

.disabledText{
    color: var(--gray-middle-color) !important;
}

.sectionDisabled{
    display: none;
}

.sectionEnabled{
    display:block;
}

/* ---------------------- CONTENEDORES / GRAL ---------------------- */

/* ---------------------- BORDES ---------------------- */

.background-border-img{
  background-color: var(--white-color);
  width: 100%;
}

/* ---------------------- NAV ---------------------- */

.logo-home{
  max-width:100px;
  display: inline-grid;
  top: 0;
  left: 5%;
  background-image: url(/img/logos/vdrr89-handmade-black-01.svg);
  background-repeat: no-repeat;
  width: 151px;
  height: 74px;
}

/* submenu dropdown projects */
#navbar > .all-form {
  max-width: 250px;
  left: 35%;
  top: 11%;
  position: fixed;
  background-color: var(--white-color);
  z-index: 100;
}

.nav {
  position: fixed;
  position: -webkit-sticky; /* Safari */
  margin: 0 auto;
  display: inline-flex;
  width: 100%;
  top: 0;

  z-index: 10;

  background-color: var(--white-color);
  box-shadow:  0 4px 8px 0 var(--black-transparent-light-color);
}

/* contacto txt/icon cambia si pantalla chica */

.full-text{
  display: block;
}

.short-text{
  display: none;
}

@media only screen and (max-width: 600px){
  .full-text{
    display: none;
  }
  
  .short-text{
    display: block;
  }
}

.nav > .dropdown {
margin: 4px auto;
}

.dropdown{
  display: table;
}

#menu-projects-list > .btn-nav-out{
display: block;
}

/* ---------------------- ABOUT SHORT ---------------------- */

.section-title{
  margin: 10% auto 5% auto;
  display: table;
}

/* about explanation */
.short-about{
    max-width: 600px;
    margin: 0 auto 3%;
}

/* txt gris claro tachado */
.txt-whisper {
  color: var(--gray-light-color); 
  text-decoration:line-through;
}

/* ---------------------- ABOUT SKILLS ---------------------- */
@import "/css/progress-circle.css";

/* vdrr89 // fix icons! */
#about-skills {
  background-color: var(--blue-strong-color); /*royalblue*/
  display: flow-root;
}

/* para cambiar color en svg */
.skills-path {
  fill: white;
} 

/* para invertir color en img */
.invertir-color {
  -webkit-filter: invert(100%);
 filter: invert(100%);
}

.hint-text{
  display: none;
  z-index: 2;
  position: absolute;
  margin: 100% auto;
  color: white;
  font-weight: 800;
  text-align: center;
  text-shadow: 1px 2px 1px #4169E1;
}

/* al hacer hover en un div mostrar otro */
.progress-circle:hover .hint-text{
  display:block;
}

/* ---------------------- ABOUT TIMELINE ---------------------- */

#about-timeline,
#short-timeline,
#timeline {
  padding-bottom: 40px; /* este es xq queda debajo del footer */
  background-color: var(--white-color);
}

/* short timeline */
.short-timeline{
  display: relative;
}

#short-timeline > ul{
  margin: 0 15%;
}

.short-timeline-item{
  list-style:disc;
  margin: 1vw;
}

.short-timeline-item::marker{
  font-size: 3vw;
  color: var(--pink-middle-color);
}

/* btn open close section */
.btn-short-timeline {
	box-shadow: 2px 8px 10px var(--gray-light-color);
	background-color:var(--white-color);
  text-shadow:1px 1px 3px var(--white-color);
	border-radius:20px;
  border: 4px solid var(--pink-middle-color);
  cursor:pointer;
	display:inline-block;
	padding:24px 31px;
  margin: 0 40%;
}
.btn-short-timeline:hover {
	background-color:var(--pink-middle-color);
}
.btn-short-timeline:active {
	position:relative;
	top:1px;
}

/* timeline */

.card-content{
  margin: 5% 15%;
  border-radius: 0px;
  padding-left: 20px;
}

.timeline{
  display: none;
}

.border-container {
  border-left: 10px dotted #d93b95;
  border-radius: 0px;
  padding-left: 20px;
}

.timeline-title{
  display: list-item;
  margin-left:60px;
}

.timeline-title::marker{
font-size: 170%;
color: var(--pink-strong-color);
}

.principal-dot{
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #d93b95;
  border: transparent;
}

.timeline-micro-element {
  margin: 3% auto;
}

.timeline-instit > a {
  color: var(--blue-middle-color); 
  font-weight: 400; 
  font-size: 1rem; 
  line-height: 0.9rem; 
  text-decoration: underline;
}

/* ---------------------- HOME PROYECTOS ---------------------- */

#proyectos {
  height: 60vh;
  background-color: var(--pink-middle-color);
  display: flow-root;
}

.proyectos-title{
  margin: 5% auto 0 auto;
  display: table;
}

/* el grupo de íconos de proyectos */
.proyectos-table {
  column-gap: 5%;
  margin: 5% 20%;
  display: inline-flex;
  position: relative;
}

/* el botón de proyectos */
.proyectos-btn{
  box-shadow: 2px 8px 10px var(--black-transparent-middle-color);
	background-color: transparent;
	border-radius:20px;
  border: 4px solid var(--black-color);

  text-shadow:1px 1px 3px var(--black-transparent-middle-color);

  cursor:pointer;
}

.proyectos-btn:hover{
  background-color: var(--black-color);
}

.proyectos-i {
  padding: 2vw;
  cursor: pointer;
  font-size: 8vw;
  transition: all 0.3s ease 0s;
}

.proyectos-i:hover {
    color: var(--white-color);
    transform: translateY(7px);
}

/* ---------------------- PROYECTOS CARDS ---------------------- */

#dw-proj, 
#dg-proj, 
#foto-proj, 
#ilu-proj {
  display: none;
}

.projects-container{
  background-color: var(--pink-middle-color);
  /* display: inline-flex; */
  max-height: 500px;
  display:flex;
  width: 100%;
  /* height: auto; */
  white-space: nowrap;
  overflow-x: hidden;
}

.proj-img{
  box-sizing: border-box;
  flex: 0 0 auto;
  display: inline-block;
  /* width: 400px; */
  /* height: 400px; */
  background-color: var(--pink-middle-color);
  border: 6px solid var(--black-color);
  border-radius: 10px;
  margin: 0 1%;
}

.proj-img > img {
  height: 400px;
  border-radius: 3px;
}

/* ---------------------- FOOTER ---------------------- */

#footer{
  background-color: var(--pink-middle-color);
}

.footer {
  height: 25vh;
  position: relative;
  position: -webkit-sticky; /* Safari */
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.footer-title{
  color: var(--black-color);
  text-shadow: 0px 0px 5px var(--white-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white-color);
}

.footer-ul {
  display: inline-flex;
  padding-left: 0;
}

.footer-ul > li {
  display: inline-block;
}

.footer-icon {
    color: var(--white-color);
    margin: 0 10px;
    font-size: 2.5rem;
}

.footer-icon:hover{
    color: var(--pink-strong-color);
}


/* FOOTER WAVES */

.flex-waves-content { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-waves {
  display: block;
  position:relative;
  height:30vh;
  text-align:center;
  background-color: var(--black-color);
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}