/* ---------------------- NOTAS ---------------------- */

/* 

NEW THEME

#2e8ad1 celeste / primary color
#13588d celeste oscuro 

#d93b95 rosa / primary color: hover

#1f1f1f / dark gray / pes haches
#787878 / light gray

#901 red / cancel
#290 green / ok

#da1 gold
#5c4406 dark gold

OLD THEME:

LINKS color principal: #225ea3 (azul link)
links color secundario: #323dbd (azul violeta)

guardar color para otro momento: #fdfcf7 (casi blanco beige)

*/

/* ---------------------- SELECCIONES ---------------------- */

*::selection {
    background-color: #2e8ad1;
    }

html, body{
  height: 100%;
}

.all-background {
  background: #fff;
  
  overflow: scroll;
  
  z-index: -50;
  height: 100%;
}

/* ---------------------- ICONOS ---------------------- */

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


/* ---------------------- INABILITADO ---------------------- */

.disabledText{
    color: #787878 !important;
}

.sectionDisabled{
    display: none;
}

.sectionEnabled{
    display:block;
}

/* ---------------------- CONTENEDORES / GRAL ---------------------- */

/* FORM */
.form-box {
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

/* para que el formulario no ocupe toda la pantalla */
.all-form {
  margin:0 auto;
  padding: 10px;
  max-width: 800px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000b2;
}

label {
  color: #1f1f1f;
  font-weight: 400;
  transition: .5s;
}

/* usada en about */
.dotted-line{
  border-top: 10px dotted #d93b95;
  background: #fff;
  width: 70%;
  margin: 0 auto;
  z-index: 2;
}

/* elemento alineado a la derecha */
.right-div {
  margin-right: 1%;
  float: right;
  margin: 4px 2px
}

/* ---------------------- NAV ---------------------- */

/* submenu dropdown projects */
#navbar > .all-form {
  max-width: 250px;
  left: 35%;
  top: 11%;
  position: fixed;
  background-color: #fff;
  z-index: 100;
}

nav {
  position: fixed;
  position: -webkit-sticky; /* Safari */
  display: inline-flex;
  background-color: #fff;
  width: 100%;
  z-index: 10;
  top: 0;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav > .dropdown {
margin: 4px auto;
}

.dropdown{
  display: table;
}

#menu-list {
display: inline-flex;
margin: 0 auto;
width: 100%;
position: relative;
}

#menu-projects-list > li{
display: block;
}

/* ---------------------- ABOUT SHORT ---------------------- */

/* about */
.longText{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* ---------------------- ABOUT SKILLS ---------------------- */

.grid-container {
  margin: 10% 20%;
  display: grid;
  grid-template-columns: repeat(4, 8vw);
  column-gap: 8vw;
  row-gap: 16vw;
}

.item-img-grid {
  width: 100%;
}

.item-icon-grid {
  font-size: 5vw;
}

/* progress circle */

/* contains all */
.progress-container {
  position: relative; /* this is important */ 
}

/* contains title */
.progress-title-container{
  position: absolute; /* this is important */ 
  background-color: #fff;
  z-index: 2;
  top: 0.3vw;
  left: 0.3vw;
  height: 7.5vw;
  width: 7.5vw;
  /* if there are max-width or max-height it should be in vw in % with bottom circle */
  border-radius: 50%;
  
}

.progress-title{
  position: absolute; /* this is important */
  padding: 20%;
  align-items: center;
}

/* bottom circle */
.progress-bottom-circle{
  position: absolute; /* this is important */
  /* if there are max-width or max-height it should be in vw in % with contains title */
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
}

.progress-90{
  background-image: conic-gradient(#05275e 162deg, #1c73ff 324deg, white 330deg); 
  /* 90% = (360/10) * 9 = 324 deg */
  /* change the degrees! witouth degrees is a smooth transition */
}

.progress-80 {
  background-image: conic-gradient(#05275e 144deg, #1c73ff 288deg, white 295deg); 
/* 80% = (360/10) * 8 = 288 deg */
}

.progress-70 {
  background-image: conic-gradient(#05275e 126deg, #1c73ff 252deg, white 260deg); 
/* 70% = (360/10) * 7 = 252 deg */
}

.progress-40 {
  background-image: conic-gradient(#05275e 72deg, #1c73ff 144deg, white 150deg); 
/*  30% = (360/10) * 4 = 144 deg */
}

.progress-30 {
  background-image: conic-gradient(#05275e 54deg, #1c73ff 108deg, white 115deg); 
/*  30% = (360/10) * 3 = 108 deg */
}

.progress-20 {
  background-image: conic-gradient(#05275e 36deg, #1c73ff 72deg, white 80deg); 
/* 20% = (360/10) * 2 = 72 deg */
}
/* ---------------------- ABOUT TIMELINE ---------------------- */

#short-timeline,
#timeline {
  padding-bottom: 40px; /* este es xq queda debajo del footer */
}

/* short timeline */
.short-timeline{
  display: relative;
}

#short-timeline > ul{
  margin: 0 15%;
}

.short-timeline-item{
  list-style:disc;
  margin: 1vw;
}

.short-timeline-item::marker{
  font-size: 3vw;
  color: #d93b95;
}

/* btn open close section */
.btn-short-timeline {
	box-shadow: 2px 8px 10px lightgray;
	background-color:#fff;
  text-shadow:1px 1px 3px gray;
	border-radius:50%;
  cursor:pointer;
	display:inline-block;
	padding:24px 31px;
  margin: 0 40%;
  border: none;
}
.btn-short-timeline:hover {
	background-color:lightgray;
}
.btn-short-timeline:active {
	position:relative;
	top:1px;
}

/* timeline */

#timeline > .card-content{
  margin: 5% 15%;
  border-radius: 0px;
  padding-left: 20px;
}

.section-title{
  margin: 10% auto 5% auto;
  display: table;
}

.timeline{
  display: none;
}

.border-container {
  border-left: 10px dotted #d93b95;
  border-radius: 0px;
  padding-left: 20px;
}

.timeline-title{
  display: list-item;
  margin-left:60px;
}

.timeline-title::marker{
font-size: 170%;
color: #d93b95;
}

.principal-dot{
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #d93b95;
  border: transparent;
}

.timeline-micro-element {
  margin: 3% auto;
}

.timeline-instit > a {
  color: #2eaaff; 
  font-weight: 400; 
  font-size: 1rem; 
  line-height: 0.9rem; 
  text-decoration: underline;
}

/* ---------------------- PROYECTOS: HOME GRID ---------------------- */

#proyectos{
  height: 30vh;
}

/* grid icon link para proyectos */
.proyectos-table {
  margin-top: 10%;
  text-align: center;
}

.proyetos-table-td{
    padding: 2vw;
    cursor: pointer;
}

.proyectos-i {
    font-size: 8vw;
    transition: all 0.3s ease 0s;
}

.proyectos-i:hover {
    color: #d93b95;
    transform: translateY(7px);
}

/* ---------------------- PROYECTOS: CARDS ---------------------- */

#tabs-diseno-web{
  display: none;
}

.card-content{ /* posts en about: timeline */
    margin-top: 10%;
    margin-bottom: 10%;
}

.vr-card-group { /* posts en grid / all cards */
  /* width: 100%; */
  max-width: 100%;
  margin: 0 auto;

  display: grid;

  gap: 2vw;
  grid-auto-flow: inherit;
  grid-template-columns:auto auto auto auto;
  grid-template-rows: auto;
}

.vr-card { /* posts en grid / only 1 card */
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  width: 100%;

  border: solid 3px #1f1f1f;
  border-radius: 20px;
  background: transparent;
  box-shadow: 0 2px 5px #1f1f1f;

  transition: all .1s ease-in;
}

.vr-card:hover {
  top: -2px;
  box-shadow: 0 4px 5px #1f1f1faf;
}

.card-img {
  position: absolute;
  display: block;
  text-align: center;
  border: solid 6px #1f1f1f;
  border-radius: 10px;
}

.card-text {
  position: relative;
  top: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1f1f1f;
  text-align: center;
}

/* ---------------------- CONTACTO ---------------------- */

#contacto{
  padding: 40px; /* este era xq quedaba debajo del footer */
}

.contacto-form{
  margin: auto 15%;
}

#floatingTextarea {
  height: 150px;
}

/* ---------------------- FOOTER ---------------------- */

footer {
  position: fixed;
  position: -webkit-sticky; /* Safari */
  background-color: #1f1f1f;
  box-shadow: 2px 2px 4px #1f1f1f9f;
  bottom: 0px;
  width: 100%;
  text-align: center;
  z-index: 100;
}

footer > ul {
  display: inline;
  padding-left: 0;
}

footer > ul > li {
  display: inline-block;
}

.footer-icon {
    color: #fff;
    margin: 0 10px;
}

.footer-icon:hover{
    color: #d93b95;
}
